/* Why are these padding and margin values not applied to .navbar by default? */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #eee;
  color: #000;
}
/* transparent navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(83, 0, 0, 0.2);
}

.navbar {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar-nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  margin: 0px;
}

.nav-brand {
  flex-grow: 1;
  order: 0;
}

.nav-item {
  padding: 5px 25px;
  display: block;
  width: auto;
  font-weight: 800;
  font-size: 16px;
  order: 1;
}

.navbar-name {
  font-size: 20px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #999;
}

footer {
  position: fixed;
  bottom: 0;
}
