/*USE THIS FOR HEADER & FOOTER. CREATE ANOTHER STYLE FILE FOR BODY ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  font-family: "Raleway", sans-serif;
  /*background-color: rgb(234, 233, 231);*/
  /*background-color: rgb(141, 158, 148);*/
  background-color: rgb(235, 237, 238);
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow: auto !important;
}

main {
  padding-top: 5rem;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  flex-basis: auto;
}
h2 {
  font-weight: 600;
  font-family: "Fjalla One", sans-serif;
}

.masthead .navbar {
  min-height: 5rem;
  background-color: rgb(243, 192, 29);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar .navbar-brand {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  color: rgb(38, 66, 46);
}

.navbar .nav-item {
  display: block;
  width: auto;
  font-weight: 800;
  font-size: 16px;
  order: 1;
}

#hero-page > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.hero-split {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-split > div {
  padding: 0;
  margin: 0;
}

.hero-content {
  position: relative;
  padding: 5rem 3rem 0rem;
}

.hero-content .about-image {
  border-radius: 50%;
  height: 150px;
  width: auto;
}

.highlight {
  color: rgb(38, 66, 46);
  font-weight: 600;
}

.hero-image {
  position: relative;
  height: 800px;
  width: 100%;
  background: url(../images/leaf-coffee-2.jpg);
  background-position: 45% 0px;
  background-size: cover;
}

.divider {
  max-width: 60px;
  border-width: 0.2rem;
  margin: 2rem auto 3rem;
}

.contact-links a {
  margin: 5px;
}

.contact-links .fab {
  font-size: 2rem !important;
  align-items: center;
  color: rgb(38, 66, 46);
}

.non-hero {
  padding-top: 5rem;
}

.non-hero .page-section {
  padding-top: 5rem !important;
  align-content: space-between;
}

section#portfolio {
  padding: 0rem 3rem;
}

.portfoio-intro {
  align-content: flex-start !important;
}

.portfolio-item {
  padding: 1rem 0rem;
}

#contact-form {
  padding-top: 5rem;
}

.footer {
  padding: 2rem;
  height: 80px;
  background-color: rgb(72, 93, 60);
  color: rgb(235, 237, 238);
  z-index: 5;
}
